---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3 {
    font-family: "Roboto Condensed", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-nobackground {
    background: none;   
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgba(255,255,255, 0.1);
}
.btn-xlg {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.5);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

.navbar .navbar-nav {
  display: inline-block;
  text-align: center;
  float: none;
  vertical-align: top;
}

.brandimg {
    min-height: 22px;
    height: 22px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-collapse {
    text-align: center;
}

/*.navbar, .navbar-nav {
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    min-height: 50px;
}*/

/* Side Menu */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.splash, .splash-half {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/backgrounds/bg-1.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.splash {
    height: 100%;
}

.splash-half {
    height: 30%;
    background: url(../img/backgrounds/bg-lightorange.jpg) no-repeat bottom center scroll;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

.lead > p {
    padding: 12px 12px;
}

/* Carousel base class */
.carousel {
  height: 500px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner .item {
    width: 100%;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad1 {
    background: url(../img/backgrounds/berkeley.jpg) no-repeat center center scroll; 
}
.ad2 {
    background: url(../img/backgrounds/stanford.jpg) no-repeat center center scroll; 
}

.img-landing {
    max-width: 100%;
    height: auto;
}

.list-inline {
    display: inline;
    list-style: none;    
}

.list-inline > h3 {
    display: inline;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 48px;
    white-space: nowrap;
}

.list-inline > h3 > a {
    color: inherit;
}

.list-inline > h3 {
    border-right: 2px solid black;
}

.list-inline > h3:last-child {
    border-right: none;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Footer */

footer {
    padding: 100px 0;
}

a.white {
    color: #FFFFFF;
}

.info-title {
    font-size: 72px;
    color: #FFFFFF;
}

.row-eq-height {
  display: table;
}

.person-description {    
    font-size: 16px;
    margin-bottom: 50px;
}

.person-description > a > i {
    font-size: 1.8em;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    color: #545454;
}

.person {
    padding-top: 6px;
}

.imagecontainer {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 36px;
}

.img-circle {
    object-fit: cover;
}

.light-bg {
    background: #F4F4F4;
}

@media all and (max-width: 750px) {
    .list-inline > h3 {
        display: inline;
        padding-left: 24px;
        padding-right: 24px;
        line-height: 2em;
        white-space: nowrap;
        font-size: 1.25em;
    }
    .list-inline > h3 {
        border-right: 1px solid black;
    }

    .list-inline > h3:last-child {
        border-right: none;
    }
    .person-description {    
        font-size: 14px;
    }
}