---
layout: info
title: Resource Center
permalink: /ggrc/
---
<h2> About GGRC</h2>

The Golden Gate Resource Center(GGRC) is an initiative started in 2018 to provide event guides for the community, free of cost. GGRC is currently a work in progress; more event guides will be added soon. If you are interested in contributing to the GGRC or have any suggestions for content you would like to see, feel free to email us at goldengatescioly@gmail.com 

<br>

<h3>Past tests</h3>

<a href="https://drive.google.com/open?id=13TAiWgzuwMoPwjBq3Qrd5_19HK7j3kj_" class="btn btn-mid" target="_blank">2019</a>
<a href="https://drive.google.com/drive/folders/1gFxSjHTf0-tzxTiXCdAfA-cDNCk-mIFt" class="btn btn-mid" target="_blank">2018</a>
<a href="https://drive.google.com/drive/folders/1foDWPJXZMzVVxtbR4rqo-UjGNJ5JGjeN" class="btn btn-mid" target="_blank">2017</a>

<br>

<div class = "tiles">

{% for event in site.ggrc %}
{% if event.version %}
<a class="btn btn-md btn-mid" style="background-color:#2e66b6;color: #ffffff;" href="./{{event.docname}}">
	<p>{{event.title}}</p>
	{% if event.type == "study" %}
		<i class = "material-icons"> chrome_reader_mode </i>
	{% endif %}
	
	{% if event.type == "lab" %}
		<i class = "material-icons"> timeline </i>
	{% endif %}
	
	{% if event.type == "build" %}
		<i class = "material-icons"> build </i>
	{% endif %}
</a>
{% endif %}
{% endfor %}

</div>



