---
layout: info
title: Past Tournaments
permalink: /past/
---

{% for tournament in site.data.tournaments %}
<div class="col-lg-12">
	<h2>{{ tournament.year }} - {{ tournament.location }}</h2>
	<h3>Division C Champion: {{ tournament.firstPlaceWinner }}</h3>
	<div class="col-lg-6" style="margin-top:24px;">
		<img class="tournamentPhoto" src="/img/tournaments/{{ tournament.firstPlacePicture }}">
		<img class="tournamentPhoto" src="/img/tournaments/{{ tournament.directorsPhoto }}">
	</div>
	<div class="col-lg-4" style="margin-top:24px;"><p>{{ tournament.description }}</p>
	<a href="{{ tournament.website }}" class="btn btn-mid">Go to webpage</a>
	{% if tournament.pictures %}
		<a href="{{ tournament.pictures }}" class="btn btn-mid">Pictures</a>
	{% endif %}
</div>
{% endfor %}
</script>