---
layout: info
title: The Team
permalink: /team/
---

<div>
{% for member in site.data.team %}

<div class="col-lg-12 person">
	<div class="col-md-4 imagecontainer">
		<img class="img-circle" src="../img/team/{{ member.pic }}" width="200" height="200">
	</div>
	<div class="col-md-8">
		<h2>{{ member.name }}</h2>
		<h4>{{ member.school }}</h4>
		<div class="person-description">
			<p><strong>Bio:</strong> {{ member.bio }}</p>
			{% if member.favEvents %}
				<p><strong>Favorite events:</strong> {{ member.favEvents }}</p>
			{% endif %}
			{% if member.funFact %}
				<p><strong>Fun fact:</strong> {{ member.funFact }}</p>
			{% endif %}
			{% if member.linkedin %}
				<a href="{{ member.linkedin }}"><i class="fa fa-linkedin"></i></a>
			{% endif %}
			{% if member.email %}
				<a href="mailto:{{ member.email }}"><i class="fa fa-envelope"></i></a>
			{% endif %}
		</div>
	</div>
</div>

{% endfor %}
</div>