<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4><strong>Golden Gate Science Olympiad</strong>
            </h4>
            <ul class="list-unstyled">
                <p>Questions? Interested in sponsoring? Joining us as a student at Stanford or UC Berkeley next year? Shoot us an email to get involved with our team!</p>
                <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </li>
            </ul>

            <ul>{{ site.description }}
          
        </div>
    </div>
</div>

<script>
// Enable popovers
$(function () {
  $('[data-toggle="popover"]').popover()
});
</script>