<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4><strong>Golden Gate Science Olympiad</strong>
            </h4>
            <ul class="list-unstyled">
                <p>Golden Gate Science Olympiad is run by Golden Gate Science League, a California 501(c)(3) nonprofit.</p>
                <p>Questions? Interested in sponsoring? Joining us as a student at Stanford or UC Berkeley next year? Shoot us an email to get involved with our team!</p>
				<a class="btn fa fa-envelope-o medium-icon" href="mailto:{{ site.email }}"></a>
				<a class="btn fa fa-facebook medium-icon" href="https://www.facebook.com/goldengatescioly/"></a>
				<a class="btn fa fa-twitter medium-icon" href="https://twitter.com/goldengateso"></a>
				<a class="btn fa fa-snapchat-ghost medium-icon" href="https://snapchat.com/add/ggscioly"></a>
				<a class="btn fa fa-instagram medium-icon" href="https://www.instagram.com/goldengatescioly/"></a>
				
               
            </ul>

            <ul>{{ site.description }}
          
        </div>
    </div>
</div>

<script>
// Enable popovers
$(function () {
  $('[data-toggle="popover"]').popover()
});
</script>