---
layout: default
---
<div id="top" class="splash-half">
        <div class="text-vertical-left">
    <div class="col-lg-8 col-lg-offset-2">
        	<h1 class="info-title">{{page.title}}</h1>
        </div>
    </div>
</div>


<div class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="lead">
					 <h1>{{ page.title }}</h1>
					 {% if page.test_2017 == 1 %}
					 <a class="btn btn-md btn-mid" href= "/doc/ggrc/2017_{{ page.docname }}_exam.pdf">2017 Test</a>
					 {% endif %}
					 {% if page.test_2017 == 1%}
					 <a class="btn btn-md btn-mid" href= "/doc/ggrc/2017_{{ page.docname }}_key.pdf">2017 Key</a>
					 {% endif %}
					 {% if page.test_2018 == 1%}
					 <a class="btn btn-md btn-mid" href= "/doc/ggrc/2018_{{ page.docname }}_exam.pdf">2018 Test</a>
					 {% endif %}
					 {% if page.test_2018 == 1%}
					 <a class="btn btn-md btn-mid" href= "/doc/ggrc/2018_{{ page.docname }}_key.pdf">2018 Key</a>
					 <br>
					 {% endif %}
					 <br>
					 <div>
						{{ content }}
					 </div>
                </div>
            </div>
        </div>
    </div>
</div>